body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f7cfd1b6;
    color: #333333;
    display: flex;
    justify-content: center;
}


header{
    grid-area: header;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "logo botao";
    background-color: #460e2de1;
    padding: 15px 15px 15px 15px;
    box-shadow:0px 0px 8px 0px  #070101da;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}
section{
    position: relative;
    top: 50px;
}
footer{
    position: relative;
    margin-top: 100px;
}
.botao {
    grid-area: botao;
    border: none;
    font-size: 15px;
    display: inline-block;
    padding: 10px 0 0 10px;
  }
  
.btn{
    background-color: #f7cfd1b6;
    padding: 14px 28px;
    left: 35px;
    border-radius: 10px;
    border-color:  #a5a0a000;
    margin-left: 2rem;
    box-shadow: 1px 0px 0#e9e5e5d3;
    align-items: center;
    
}

.btn:hover {background: #f3f2f2;}

.logo{
    grid-area: logo;
    padding: 0 5%;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    width: 30px;
}

.img{
    width: 175px;
}

.whatstopo{
    padding-left: 75%;
    margin-top: -60px;
}

header .logo:hover, main .cards:hover{
    transform: scale(1.10);
    cursor: pointer;
}

main{
    padding: 25px;
    position: relative;
    top: 50px;
    margin-top: 100px;
}

h2{
    font-style:oblique;
    text-align: center;
    text-shadow: 2px 4px 5px #64090975, 0 0 1px rgb(109, 7, 7);
   
}

main .promocao, .preco span{
    color: #333333;
    font-family: Gabo;
    font-size: 40px;
}

.destaque hr{
    border-top: 3px solid  #8b3a34;
    top: 280px;
    left: 50px;
    width: 550px;
    box-shadow: 0 0 10px #333333;
}


main .todos-cards{
    width: 60vw;
    height: 25rem;
    margin: 4rem auto 0 auto;
    display: flex;
    text-align: center;
    overflow-x: auto;
    padding: 1rem;

    
}

main .cards{
    background-color: #c0d6e9;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    margin-left: 2rem;
}

main .cards:hover{
    background-color: #96d9d6;
}



main .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .png{
    width: 90px;
    height: 90px;
}

main .preco{
    display: flex;
    gap: 15px;
}

main .preco{
    padding: 8px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}


main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;  
}

.exibicao{
    color: #333333;
    font-family: Gabo;
    font-size: 30px;
    font-style:oblique;
    text-align: center;
    padding: 45px;
    margin: 0 0 0 30px;  
    text-shadow: 2px 4px 5px #64090975, 0 0 1px rgb(109, 7, 7);
}   

#slider {
    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 450px;
    margin: 0 0 0 30px;  
    position: relative;
}

#slider p{
    font-size: 18px;
    margin-right: -25%;
}

#slider img{
    opacity: 0;
    width: 450px;
    height: 500px;
    padding-top: 55px;
    object-fit: cover;
    transition: opacity 800ms;
    margin-left: 100px;
    position: absolute;
    margin: 0 190px 0 -125px;  
}

#slider img.selected { 
    opacity: 1;
}

.exibicao p{
  font-size-adjust: inherit;
  font-style: oblique;
  font-family: Consolas;
  font-size: 15px;
  line-height: 1.6em; 
  text-shadow: 2px 4px 5px #eee, 0 0 1px rgb(109, 7, 7);
  padding-top: 15px;
  margin-left: 45px;

}

.contato {
    font-family: Gabo;
    font-size: 22px;
    text-shadow: 2px 4px 5px #64090975, 0 0 1px rgb(109, 7, 7);
    text-align: center;
    margin: 160px 0 0 0;  
    position: relative;
  
}

.contato h3{
    font-style:oblique;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.introducao p{
font-size-adjust: inherit;
  font-style: oblique;
  font-family: Consolas;
  font-size: 15px;
  line-height: 1.6em; 
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  text-shadow: 2px 4px 5px #eee, 0 0 1px rgb(109, 7, 7);
  text-align: center;
  letter-spacing: 2px;
 
 
}

.titulo h2{
    font-style:oblique;
    font-family: Gabo;
    font-size: 45px;
    box-shadow: #64090975;
}
.introducao {
    display: flex;
}

.introducao img {
    width: 300px;
    height: 300px;
    animation: imageAnimation 20s linear infinite ; 
    animation-delay: 3s;
    transform: translateX(60px);
    opacity: 0px;
   
}

.whats { 
    padding-left: 90%;
    margin-top: -55px;
}