/* ```
===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background:#f8c6c6;
    border-radius: 15px;
  }

  *::-webkit-scrollbar-thumb {
    background-color:  #8b3a34;
    border-radius: 15px;
    border: 3px solid #f8c6c6;
}